{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
    <li><a href="{{ item.link }}"> {{ item.item }}</a></li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1> Book Detail</h1>
<table border="2">
    <tr>
        <th>
            Book Name
        </th>
        <th>
            Book Price
        </th>
        <th>
            Publisher User
        </th>
        <th>
            Book Cover
        </th>
    </tr>
    <tr>
        <td>
            {{ book.name }}
        </td>
        <td>
            {{ book.price }}
        </td>
        <td>
            {{ book.username }}
        </td>
        <td>
            <img src="{% static book.pic_path %}" height="100"/>
        </td>
    </tr>
</table>
{% endblock content %}