{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
    <li><a href="{{ item.link }}"> {{ item.item }}</a></li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1>User Login</h1>

<form action="{% url 'login' %}" method="post" >
      <table>
          {{ form.as_table }}
          <tr>
              <td>
                  <input type="submit" value="Login">
              </td>
          </tr>
      </table>
    <p>
          To register <a href="{% url 'register' %}"> Click Here </a>
      </p>
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
</form>
{% endblock content %}